select.FormControl.ccode {
  width: auto;
  display: inline-flex;
  margin-left: 8px;
}
i.fas.fa-caret-down.selectCountry {
  margin-left: 5px;
  font-size: 20px;
  color: @primary-color;
}
button.Button.Button--primary.ccodebutton {
  margin-left: 8px;
  vertical-align: unset;
}
select#countryValue {
  height: auto;
}
img#imgflag {
  margin-left: 15px;
  vertical-align: bottom;
}
